version: "3.3"

services:
  website-portfolio:
    ports:
      - 8000:8000 # Website
      - 3001:3001 # Browser sync - UI
      - 3013:2013 # Browser sync - Refresh
      - 9229:9229 # Node Debuger
      - 6006:6006 # Storybook
    working_dir: /www
    command: /bin/bash -c "bundle install && npm install && npx gulp --color"
