$content-padding: 5rem !default;
$almost-transparent: rgba($color-white, .001) !default; // workaround for Safari's linear-gradient transparent bug

/*doc
---
title: Content
name: 01-content
category: Layout
---

You can use several variations of `.content` container.

## Basic
The basic variant has transparent background so you can use it with any parent component.

```html_example
<div class="color-brand-secondary">
  <div class="content">
    <div class="content__inner">
        <div class="content__center">
          <h2 class="content__heading">Name Surname</h2>
        </div>
    </div>
  </div>
</div>
```
*/

.content {
  background: $color-white;
  overflow: hidden;
  padding-top: $content-padding;

  &__inner {
    @extend .container;
  }

  &__center {
    align-self: center;
  }

  &__heading {
    font-size: 2.125rem;
    font-weight: 500;
    margin-bottom: 1.8rem;
    text-align: center;
    text-transform: uppercase;

    @include media-breakpoint-up(sm) {
      font-size: 2.75rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 3.25rem;
    }

    &--contacts {
      font-size: 1.2rem;
      font-weight: 500;
      margin: auto auto 1rem;
      text-align: left;
      width: 17.5rem;

      a {
        color: $color-black;
        text-decoration: underline;
      }

      @include media-breakpoint-up(sm) {
        font-size: 1.3rem;
        width: 21rem;
      }

      @include media-breakpoint-up(md) {
        font-size: 1.4rem;
        width: 22.625rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 1.8rem;
        width: 29.5rem;
      }
    }
  }
}
