/*doc
---
title: Contact Form
name: 04-form
category: Components
---

Use `contact-form` for creating any kind of form on the website.

```html_example
<form>
  <div class="form-row mb-3">
    <input type="text" class="form-control contact-form" id="name" placeholder="Name" required>
  </div>
  <div class="form-row mb-3">
    <input type="email" class="form-control contact-form" id="email" placeholder="E-mail" required>
  </div>
  <div class="form-row mb-3">
    <input type="number" class="form-control contact-form" id="number" placeholder="Phone Number" required>
  </div>
  <div class="form-row mb-3">
    <textarea class="form-control contact-form" id="message" placeholder="Your Message" rows="2" required></textarea>
  </div>
  <div class="form-row">
    <button type="submit" class="btn btn-secondary contact-form--btn">Submit</button>
  </div>
</form>
 */

.contact-form {
  font-size: 1.1rem;
  width: 15rem;

  @include media-breakpoint-up(sm) {
    font-size: 1.3rem;
    width: 33.75rem;
  }

  @include media-breakpoint-up(md) {
    width: 26.25rem;
  }

  &--btn {
    font-size: 1.1rem;

    @include media-breakpoint-up(sm) {
      font-size: 1.3rem;
    }
  }
}
