/*doc
---
title: Form
name: 04-form
category: Components
---

Use `form` for creating any kind of form on the website.

```html_example
<form>
  <div class="form-group">
    <label for="name">Name and Surname</label>
    <input type="text" class="form-control" id="name" required>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" required>
  </div>
  <div class="form-group">
    <label for="phone">Phone number</label>
    <input type="number" class="form-control" id="phone">
  </div>
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
 */

.contact-form {
  font-size: 1.1rem;
  width: 15rem;

  @include media-breakpoint-up(sm) {
    font-size: 1.3rem;
    width: 33.75rem;
  }

  @include media-breakpoint-up(md) {
    width: 26.25rem;
  }

  &--btn {
    font-size: 1.1rem;

    @include media-breakpoint-up(sm) {
      font-size: 1.3rem;
    }
  }
}
