/*doc
---
title: Modal
name: 02-Modal
category: Content
---

Use `modal` for creating the popup with detailed information about the work.

```html_example
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Type | of | Work</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Name of Client</h3>
        <p>Description of Client - Here should be one or two sentences about the client, for example what industry s/he from, etc.</p>
        <p> <a href="https://www.staging.adelaticha.cz/"> www.staging.adelaticha.cz</a> </p>
        <p class="mb-5 text-center">
          <img class="img-fluid d-inline-block d-sm-inline-block d-md-none" src="../images/clients/screening-portrait-grandpa-264x395.jpg" alt="Screening Portrait Grandpa">
          <img class="img-fluid d-none d-md-inline-block d-lg-none" src="../images/clients/screening-portrait-grandpa-344x512.jpg" alt="Screening Portrait Grandpa">
          <img class="img-fluid d-none d-lg-inline-block" src="../images/clients/screening-portrait-grandpa-530x789.jpg" alt="Screening Portrait Grandpa">
        </p>
        <p class="text-center">
          <img class="img-fluid d-inline-block d-sm-inline-block d-md-none" src="../images/clients/screening-portrait-grandma-265x404.jpg" alt="Screening Portrait Grandma">
          <img class="img-fluid d-none d-md-inline-block d-lg-none" src="../images/clients/screening-portrait-grandma-344x524.jpg" alt="Screening Portrait Grandma">
          <img class="img-fluid d-none d-lg-inline-block" src="../images/clients/screening-portrait-grandma-530x808.jpg" alt="Screening Portrait Grandma">
        </p>
      </div>
    </div>
  </div>
</div>

```
*/

.modal {
  background: $color-portfolio;
}

.modal-content {
  border: 0;
}

.client-title {
  background: $gray-100;
  border-bottom: 0;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  padding-left: 2.5rem;
  text-transform: uppercase;
}

.client-body {
  margin: 0;
  padding: 0;

  h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
    padding-bottom: 1.4rem;
    padding-left: 2.5rem;
    padding-top: 1.4rem;
  }

  p {
    font-size: 1.1rem;
    margin-bottom: 0;
    padding-bottom: 1.4rem;
    padding-left: 2.5rem;
    padding-right: 2rem;
  }
}

.modal-header {
  @extend .client-title;
  padding-left: 0;

  h4 {
    font-size: 1rem;
    padding-left: 2.5rem;
  }

  .btn-close {
    &:active,
    &:focus {
      box-shadow: none;
    }
  }
}

.modal-body {
  @extend .client-body;
}
