/*doc
---
title: Portfolio
name: 01-Portfolio
category: Content
---

Portfolio class allows you to do the hover effect for displays that are larger then md. For smaller resolution there is only "Show more" button.

```html_example
<div class="portfolio">
    <img class="img-fluid" src="../images/clients/eScootie-logo-md.jpg?v<%= version %>">
    <div class="overlay">
        <h2>Clients name</h2>
        <a class="overlay overlay__link js-open-modal" href="#"></a>
		</div>
</div>

```
 */

.portfolio {
  border-radius: .3rem;
  cursor: default;
  display: inline-block;
  margin-bottom: .4rem;
  overflow: hidden;
  position: relative;

  @include media-breakpoint-up(md) {
    margin-bottom: 1.5rem;
  }

  .overlay {
    color: transparent;
    height: 100%;
    left: 0;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    vertical-align: middle;
    top: 0;
    width: 100%;

    @include media-breakpoint-up(md) {
      &:hover {
        color: $color-black;
        background-color: $color-white;
        filter: alpha(opacity=100);
        opacity: 1;
      }
    }

    &__link {
      @include media-breakpoint-up(md) {
        &:hover {
          opacity: 0;
        }
      }
    }

    &--client {
      font-size: 2rem;
      font-weight: 800;
      position: relative;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
    }

  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}
