@import '../../node_modules/bootstrap/scss/functions';

$primary: #c3073f;
$secondary: #1a1a1d;
$basic: #fff;

$color-black: #000;
$color-background: lighten($primary, 53%);
$color-white: #fff;
$color-portfolio: rgba(0, 0, 0, .7);
$color-testimonial: rgba(243,161,37,.25);


$pixelratio-1x: 96dpi;
$pixelratio-2x: 192dpi;

$breadcrumb-divider: quote('>');

$header-height: 4.188rem;
$header-height-md: 4.188rem;

@import '../../node_modules/bootstrap/scss/variables';
