<div class="content__inner">
	<div class="row text-center">
		<div class="col-12">
			<h2 class="content__heading">{{ t('portfolio') }}</h2>
		</div>
		{% for date, client in clients %}
			{% if not client.hidden %}
				<div class="col-12 col-md-6 col-lg-4">
					<div class="portfolio">
						<img class="img-fluid d-md-none" width="{{ clientHeadPictureSizes.sm.width }}"
							 height="{{ clientHeadPictureSizes.sm.height }}" alt="{{ client.name }}"
							 src="{{ client.image }}-sm.jpg?v<%= version %>">
						<img class="img-fluid d-none d-md-inline" width="{{ clientHeadPictureSizes.md.width }}"
							 height="{{ clientHeadPictureSizes.md.height }}" alt="{{ client.name }}"
							 src="{{ client.image }}-md.jpg?v<%= version %>">
						<div class="overlay">
							<h2 class="overlay--client">{{ client.name }}</h2>
							<a class="overlay overlay__link js-open-modal" href="{{ resolvePrefix(locale) }}{{ client.link }}">
							</a>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
