<div class="content__inner">
	<div class="row text-center">
		<div class="col-12">
			<h2 class="content__heading">{{ t('testimonial') }}</h2>
		</div>
		<div class="col-12 col-md-6">
			<div class="testimonial">
				<p class="testimonial__copy">
					"Working with Adela was great! I really enjoyed the whole process and the results are just best for my use case."
				</p>
				<div class="testimonial__avatar">
					<img src="../images/avatar.jpg?v<%= version %>">
				</div>
				<p class="testimonial__name">
					Name
				</p>
				<p class="testimonial__name testimonial__name--company">
					Company name
				</p>
			</div>
		</div>
		<div class="col-12 col-md-6">
			<div class="testimonial">
				<p class="testimonial__copy">
					"Working with Adela was great! I really enjoyed the whole process and the results are just best for my use case."
				</p>
				<div class="testimonial__avatar">
					<img src="../images/avatar.jpg?v<%= version %>">
				</div>
				<p class="testimonial__name">
					Name
				</p>
				<p class="testimonial__name testimonial__name--company">
					Company name
				</p>
			</div>
		</div>
	</div>
</div>
