<div class="content__inner">
	<div class="row text-center">
		<div class="col-12">
			<h2 class="content__heading">{{ t('testimonial') }}</h2>
		</div>
		<div class="col-12 col-md-6">
			<div class="testimonial">
				<p class="testimonial__copy">
					{{ t('testimonial.tina') }}
				</p>
				<div class="testimonial__avatar">
					<img src="../images/tina.jpg?v<%= version %>" alt="{{ t('testimonial.tina.photo') }}">
				</div>
				<p class="testimonial__name">
					{{ t('testimonial.tina.name') }}
				</p>
				<p class="testimonial__name testimonial__name--company">
					{{ t('testimonial.tina.company') }}
				</p>
			</div>
		</div>
		<div class="col-12 col-md-6">
			<div class="testimonial">
				<p class="testimonial__copy">
					{{ t('testimonial.denis.1') }}&nbsp;{{ t('testimonial.denis.2') }}
				</p>
				<div class="testimonial__avatar">
					<img src="../images/denis.jpg?v<%= version %>" alt="{{ t('testimonial.denis.photo') }}">
				</div>
				<p class="testimonial__name">
					{{ t('testimonial.denis.name') }}
				</p>
				<p class="testimonial__name testimonial__name--company">
					{{ t('testimonial.denis.company') }}
				</p>
			</div>
		</div>
	</div>
</div>
