{% include 'components/header.njk' %}
<div class="content">
  <div class="content__inner">
    <div class="row text-center">
      <div class="col-12">
        <h2 class="content__heading">{{ t('error.page.no.exist') }}</h2>
        <h4>
			{{ t('error.page.instruction') }} <a href="/#"> {{ t('error.page.homepage') }}</a>.
        </h4>
      </div>
    </div>
  </div>
</div>
{% include 'components/footer.njk' %}
