{% include 'components/header.njk' %}
<div class="content" id="about-me">
    <div class="content__inner">
        <div class="row">
            <div class="col-12 col-md-6">
				<h2 class="content__heading">{{ t('intro') }}</h2>
				<p>{{ t('intro.story') }}</p>
                <p>{{ t('intro.qualities') }}</p>
            </div>
            <div class="col-12 col-md-6">
                <img class="img-fluid d-none d-md-inline shadow rounded" src="/images/profile-picture-1000x850.jpg?v<%= version %>" alt="{{ t('my.photo.alt') }}" width="500" height="425">
                <img class="img-fluid d-md-none shadow rounded" src="/images/profile-picture-680x578.jpg?v<%= version %>" alt="{{ t('my.photo.alt') }}" width="340" height="298">
            </div>
        </div>
    </div>
</div>
<div class="content" id="portfolio">
	{% include 'components/portfolio.njk' %}
</div>
<div class="content" id="testimonial">
	{% include 'components/testimonial.njk' %}
</div>
<div class="content" id="contact-me">
    <div class="content__inner">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="content__heading">{{ t('contacts') }}</h2>
            </div>
            <div class="col-12 col-md-6 content__center">
                <p class="content__heading--contacts">
					{{ t('phone') }}: <a href="tel:{{ t('phone.number') }}">{{ t('phone.number') }}</a>
                 </p>
                 <p class="content__heading--contacts">
                    E-mail: <a href="mailto:{{ t('email') }}">{{ t('email') }}</a>
                </p>
            </div>
			<div class="col-12 col-md-6 mt-3">
				{% include 'components/contact-form.njk' %}
			</div>
		</div>
    </div>
</div>
{% include 'components/footer.njk' %}
