{% set pageDate = '21. 4. 2023' %}
{% set client = clients[pageDate] %}
{% set pageTitle = client.name %}
{% set pageDescription = t('hofman.page.description') %}
{% set pageImage = client.image + '-md.jpg' %}

{% include 'components/header.njk' %}

<div class="content content--light content--beveled" id="about-me">
	<div class="content__inner">
		<h4 class="client-title" id="page-title">{{ t('hofman.page.title') }}</h4>
		<div class="client-body" id="page-body">
			<h3>{{ t('hofman.page.name') }}</h3>
			<p>{{ t('hofman.intro') }}</p>
			<p>{{ t('hofman.work') }}</p>
			<p class="text-center">
				<img class="img-fluid d-inline-block d-sm-inline-block d-md-none" src="../images/clients/eScootie-mobile-265x540.png" alt="{{ t('hofman.alt.picture') }}">
				<img class="img-fluid d-none d-md-inline-block d-xl-none" src="../images/clients/eScootie-mobile-344x700.png" alt="{{ t('hofman.alt.picture') }}">
				<img class="img-fluid d-none d-xl-inline-block" src="../images/clients/eScootie-mobile-530x1080.png" alt="{{ t('hofman.alt.picture') }}">
			</p>
		</div>
	</div>
</div>

{% include 'components/footer.njk' %}
