{% set pageDate = '20. 4. 2021' %}
{% set client = clients[pageDate] %}
{% set pageTitle = client.name %}
{% set pageDescription = t('escootie.page.description') %}
{% set pageImage = client.image + '-md.jpg' %}

{% include 'components/header.njk' %}

<script type="application/ld+json">
    {
        "image": "<%= pageUrl %>{{ pageImage }}?v<%= version %>",
    }
</script>

<div class="content content--light content--beveled" id="about-me">
    <div class="content__inner">
        <h4 class="client-title" id="page-title">{{ t('escootie.page.title') }}</h4>
        <div class="client-body" id="page-body">
            <h3>{{ t('escootie.page.name') }}</h3>
            <p>{{ t('escootie.intro') }}</p>
            <p>{{ t('escootie.work') }}</p>
            <p><a href="https://{{ t('escootie.website') }}/"> {{ t('escootie.website') }}</a></p>
            <img class="img-fluid m-5" src="/images/clients/eScootie-logo.svg?v<%= version %>" alt="eScootie Logo">
            <p class="text-center">
                <img class="img-fluid d-inline-block d-sm-inline-block d-md-none" src="/images/clients/eScootie-mobile-265x540.png?v<%= version %>" alt="{{ t('escootie.alt.picture.web') }}">
                <img class="img-fluid d-none d-md-inline-block d-xl-none" src="/images/clients/eScootie-mobile-344x700.png?v<%= version %>" alt="{{ t('escootie.alt.picture.web') }}">
                <img class="img-fluid d-none d-xl-inline-block" src="/images/clients/eScootie-mobile-530x1080.png?v<%= version %>" alt="{{ t('escootie.alt.picture.web') }}">
            </p>
        </div>
    </div>
</div>

{% include 'components/footer.njk' %}
