{% set pageDate = '21. 4. 2023' %}
{% set client = clients[pageDate] %}
{% set pageTitle = client.name %}
{% set pageDescription = t('denis.page.description') %}
{% set pageImage = client.image + '-md.jpg' %}

{% include 'components/header-base.njk' %}

<header class="header header--fixed">
	<div class="container">
		<div class="row justify-content-md-between">
			<div class="col-12 col-md-3">
				<a class="header__logo header__logo--clients" href="/#">
					<img src="/images/logo.svg?v<%= version %>" alt="{{ t('logo.alt') }}" height="50">
				</a>
			</div>
		</div>
	</div>
</header>

<div class="content" id="about-me">
	<div class="content__inner">
		<h4 class="client-title" id="page-title">{{ t('denis.page.title') }}</h4>
		<div class="client-body" id="page-body">
			<h3>{{ t('denis.page.name') }}</h3>
			<p>{{ t('denis.intro') }}</p>
			<p class="text-center mt-4">
				<img class="rounded img-fluid d-inline-block d-sm-inline-block d-md-none" src="/images/clients/fly-with-denis-business-card-500x333.jpg?v<%= version %>" alt="{{ t('denis.alt.business.card') }}">
				<img class="rounded img-fluid d-none d-md-inline-block d-xl-none" src="/images/clients/fly-with-denis-business-card-750x500.jpg?v<%= version %>" alt="{{ t('denis.alt.business.card') }}">
				<img class="rounded img-fluid d-none d-xl-inline-block" src="/images/clients/fly-with-denis-business-card-1200x800.jpg?v<%= version %>" alt="{{ t('denis.alt.business.card') }}">
			</p>
			<p class="text-center mt-4">
				<img class="rounded img-fluid d-inline-block d-sm-inline-block d-md-none" src="/images/clients/fly-with-denis-mug-500x346.jpg?v<%= version %>" alt="{{ t('denis.alt.mug') }}">
				<img class="rounded img-fluid d-none d-md-inline-block d-xl-none" src="/images/clients/fly-with-denis-mug-750x519.jpg?v<%= version %>" alt="{{ t('denis.alt.mug') }}">
				<img class="rounded img-fluid d-none d-xl-inline-block" src="/images/clients/fly-with-denis-mug-1200x831.jpg?v<%= version %>" alt="{{ t('denis.alt.mug') }}">
			</p>
		</div>
	</div>
</div>

{% include 'components/footer.njk' %}
